<h1 class="font-weight-bold display-2 text-secondary">
  Welcome to the Clemson MakerSpace.
</h1>
<h2 class="text-light display-4 font-weight-bold pb-5">Where ideas come alive.</h2>



<div class="row">
  <div class="col-sm-3 col-12">
    <div class="pb-3 w-100">
      <button class="btn btn-secondary btn-lg w-100">Get Started</button>
    </div>
    <div class="pb-3 w-100">
      <button class="btn btn-secondary btn-lg w-100">Take Classes</button>
    </div>
    <div class="pb-3 w-100">
      <button class="btn btn-secondary btn-lg w-100">Make a Reservation</button>
    </div>
  </div>
  <div class="col-9">
    <div style="display: grid; grid-template-columns: 6fr 6fr">
      <div class="card p-1 bg-primary text-white mb-2 mr-2"
           *ngFor="let machine of machines">
        <div class="card-body p-0">
          <h3 class="card-title mb-n1">{{machine}}</h3>
          <p class="text-success">Currently Free</p>
        </div>
      </div>
    </div>
  </div>
</div>
