<!--Title-->
<div id="title">
  <h1 class="font-weight-bold display-2 text-secondary" style="line-height: .95">
    Welcome to the Clemson Makerspace.
  </h1>
  <h2 class="text-light display-4 font-weight-bolder pb-5 mt-3">
    Where ideas come alive.
  </h2>
</div>

<!--Spinning Gear-->
<h1 class="text-primary spinner bi bi-gear-fill position-absolute text-center"
    style="font-size: 20rem; top: -100px; left: -220px; z-index: -1000; width: 500px; height: 500px">
</h1>


<!--Quick Links-->
<div class="row d-flex align-content-stretch">
  <div class="col-2 h-100">
    <button class="btn btn-secondary btn-lg w-100 h-100">
      <a href="https://clemson.instructure.com/enroll/FDF6PW">
        Get Started
      </a>
    </button>
  </div>
  <div class="col-2">
    <button class="btn btn-secondary btn-lg w-100" >
      <a href="https://www.cumaker.space/reservations">Reserve</a>
    </button>
  </div>
  <div class="col-2">
    <button class="btn btn-secondary btn-lg w-100" >
      <a href="https://forms.gle/sZpygwFTkiwLsUNB9">3D Printer</a>
    </button>
  </div>

</div>
