<div class="card card-dark">
  <div class="card-body ">
    <h1 class="card-title">Change Password</h1>
    <p class="card-text">Use this form to change your password.</p>
    <form
          [formGroup]="changePassword"
        (ngSubmit)="onSubmit()">
      <div class="form-group" >
        <label for="password">Current Password</label>
        <input id="password"
               type="password"
               class="form-control"
        formControlName="password">
        <small
          class="warning-label"
          *ngIf="showError('password')"
        >
          {{showError('password')}}
        </small></div>
      <div class="form-group mb-4">
        <label for="new-password">New Password</label>
        <input
          id="new-password"
          type="password"
          class="form-control"
        formControlName="newPassword">
        <small
          class="warning-label"
          *ngIf="showError('newPassword')"
        >
          {{showError('newPassword')}}
        </small>
      </div>

      <button
        type="submit"
        class="btn btn-secondary w-100 py-3">
        Change Password
      </button>
      <small
        class="warning-label"
        *ngIf="changePassword['error']"
      >
        {{changePassword['error']}}
      </small>
      <h6 class="text-success font-weight-bold mt-3" *ngIf="this.changePassword['success']">
        Your password has been changed successfully.
      </h6>
    </form>
  </div>
</div>
