<div class="card bg-primary" #graph>
  <div class="card-body">
    <h1 class="card-title text-light">Status</h1>
    <div class="card card-dark" *ngIf="errorMessage">
      <h3 class="text-warning">Sorry, there's been an error.</h3>
      <h6>Please <span class="a font-weight" style="text-decoration: underline">contact</span> the MakerSpace team. </h6>
      <h6 class="text-warning">
        Details: {{errorMessage}}
      </h6>
    </div>
    <ngx-charts-heat-map
      *ngIf="!errorMessage"
      class="text-white"
      [view]="[graph.offsetWidth - 80, 300]"
      [results]="machines"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [yAxisLabel]="'Machines'"
      [xAxisLabel]="'Past ' + intervalFormat"
      [tooltipText]="tooltip"
      [scheme]="{ domain: ['#dc3545', '#ffc107', '#28a745'] }"
      style="fill: white"
    >
    </ngx-charts-heat-map>
    <label for="time-range">Time</label>
      <input id="time-range" type="range" class="form-control-range" [(ngModel)]="startTime" (ngModelChange)="onSliderChange($event)">
  </div>
</div>
