<div class="card bg-primary w-100 h-100">
  <div class="card-body w-100 h-100">
    <h1 class="card-title text-light">Status</h1>

    <!--Error Message-->
    <app-error *ngIf="error" [error]="error"></app-error>


    <!--Machines Graph -->
    <div #wrapper class="w-100" style="max-height: 300px; height: 300px"
    *ngIf="!error">
      <ngx-charts-heat-map
        class="text-white w-100"
        *ngIf="!error"
        [view]="[wrapper.offsetWidth, wrapper.offsetHeight]"
        [results]="machines"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [yAxisLabel]="'Machines'"
        [xAxisLabel]="'Past ' + intervalFormat"
        [tooltipText]="tooltip"
        [scheme]="{ domain: ['#dc3545', '#ffc107', '#28a745'] }"
        style="fill: white"
      >
      </ngx-charts-heat-map>
    </div>

    <!--Slider-->
    <div class="mt-3">
      <label class="d-block text-muted" for="time-range">
        {{toDays(startTime).toPrecision(3) + ' days ago.'}}</label>
      <input id="time-range" type="range"
             class="form-control-range"
             min="0"
             max="100"
             [(ngModel)]="startTime"
             (ngModelChange)="onSliderChange($event)">
    </div>
  </div>

</div>
