@use "bootstrap";

//
// cards
//


// for consistent spacing between cards
.card-wrapper {
  @extend .p-3;
}

.card {

  // responsive padding
  @extend .p-md-4;
  @extend .p-sm-2;
  @extend .p-0;

  // rounded borders
  border-radius: 0.7rem;

}

.card-dark {
  @extend .card;
  @extend .bg-dark-gray;
  @extend .text-light;
}

$accent: #4fc99a;
.card-accent {
  background-color: $accent !important;
}

.card-header {
  @extend .text-secondary;
  @extend .font-weight-bold;
  border: none;
  background: transparent;
}

.card-title {
  @extend .font-weight-bold;
  @extend .mb-4;
}

.card-text {
  @extend .text-muted;
  @extend .font-weight-bold;
  line-height: 1.3;

}

.text-highlight {
  @extend .text-accent;
  opacity: 0.7;
}

$light-gray: #a2a2a4;
.text-muted {
  color: $light-gray;
}

.bg-light-gray {
  background-color: rgba(52, 55, 62, 0.3);
}


