<div class="w-100">

  <div class="mb-5" *ngFor="let role of roles">
    <h1 class="text-white font-weight-bold display-4 mb-3">{{role}}s</h1>
    <div class="card bg-primary">
      <div class="card-body">

        <div>
          <div class="rounded bg-dark p-2 text-light my-2" *ngFor="let user of getUsersByRole(role)">
            <div class="card-body p-2" (mouseenter)="user.show = true" (mouseleave)="user.show = false">
              <div class="row text-center">
                <h6 class="col-4 mb-0">{{user['Name']}}</h6>
<!--                <div class="badge col-4 mb-0" [ngClass]="{'text-success': user.status == 'Completed'}">-->
<!--                  <h4>{{user.status}}</h4>-->
<!--                </div>-->
              </div>
              <div class="pl-4 mt-3" *ngIf="user.show">
                <hr class="text-white">
                <h6 class="text-muted">Date assigned: N/A</h6>
                <h6 class="text-muted">Target date: N/A</h6>
                <h6 class="text-muted">user description: N/A</h6>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


</div>

