<!--Development Mode Warning-->
<div class="bg-secondary text-dark text-center w-100 p-3">
  <h6>This site is in development mode. Do not use it on a production server.</h6>
</div>


<!--Navigation Bar-->
<nav class="navbar navbar-expand-lg bg-primary justify-content-around">
  <div class="d-flex flex-row">
    <a routerLink="/" class="navbar-brand">
      <img src="/assets/tiger_paw.png" alt="tiger_paw" width="1800" style="width: 60px">
    </a>
    <h2 class="pt-2 text-secondary h1 font-weight-bold">The MakerSpace</h2>
  </div>

  <div *ngIf="!auth.userLoggedIn">
    <button class="btn btn-secondary" routerLink="register">Register</button>
    <button class="btn btn-accent ml-3" routerLink="login">Login</button>
  </div>
  <div *ngIf="auth.userLoggedIn">
    <button class="btn btn-primary text-secondary" routerLink="dashboard">
      <h3 class="bi bi-bar-chart-fill"></h3>
    </button>
    <button class="btn btn-primary text-secondary" routerLink="profile">
      <h3 class="bi bi-person-fill"></h3>
    </button>
  </div>
</nav>


<!--Main Content-->
<div class="container py-6">
    <router-outlet></router-outlet>
</div>


