<div class="card-body">
  <h1 class="card-title text-light">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <!--Email-->
    <div class="form-group text-light">
      <label for="email"> Email </label
      ><input
      type="text"
      class="form-control"
      id="email"
      formControlName="email"
      required
    />
      <small
        class="warning-label"
        *ngIf="showError('email')">
        {{showError('email')}}
      </small>
    </div>

    <!--Password-->
    <div class="form-group text-light mb-4">
      <label for="password"> Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
      />
      <small
        class="warning-label"
        *ngIf="showError('password')">
        {{showError('password')}}
        <br>
      </small>

<!--      todo fix and implement? -->
      <a class="text-muted h6 mt-1">Forgot password?</a>
    </div>

    <button
      class="btn py-3 btn-secondary w-100 mb-2"
      type="submit"
      [ngClass]="{ disabled: loginForm.invalid }">
      Login
    </button>

    <h6 class="font-weight-bold text-danger mb-3" *ngIf="loginForm['error']">
      {{loginForm['error']}}
    </h6>
    <a class="text-muted mt-3 d-block" (click)="router.navigate(['../register'])"
    >Need an account?</a>
  </form>
</div>
