<ng-template #tigeronecards>
  <div class="w-100">
    <img src="/assets/tiger-one-cards/old-card.png"
         class="d-inline-block"
         alt="" style="width: 400px">

  </div>
</ng-template>

<!-- Visitor Form-->
<div class="card-header">
<!--  todo fix-->
  <i class="bi bi-arrow-left-circle-fill"
  (click)="auth.regState = 'register'"></i>
</div>
<div class="card-body">
  <h1 class="card-title text-light text-capitalize">Hello {{auth.newUserInfo['firstName']}}!</h1>
  <h6 class="card-text mb-3">We just need a few more details.
    This is the last step before you're off building!</h6>
  <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group text-light col-6">
        <label for="major">Major</label>
        <input id="major" name="major" type="text"
               list="majors" class="form-control"
               formControlName="major">

        <datalist id="majors">
          <option class="form-control" value="{{major}}"
                  *ngFor="let major of majors">{{major}}</option>
        </datalist>
        <small
          class="warning-label"
          *ngIf="showError('major')">
          {{showError('major')}}
        </small>
      </div>

      <div class="form-group text-light col-6">
        <label for="degree">Degree</label>
        <input id="degree" type="text"
               list="degrees"
               class="form-control"
               formControlName="degree">
        <datalist id="degrees">
          <option *ngFor="let degree of degrees"
                  value="{{degree}}">{{degree}}</option>
        </datalist>
        <small
          class="warning-label"
          *ngIf="showError('degree')">
          {{showError('degree')}}
        </small>
      </div>
    </div>

    <div class="form-group text-light">
      <label for="hardware-id"
             ngbTooltip="Your hardware id is a six digit code on the
          back of your Tiger One Card."
      >Hardware ID
        <span class="pl-2 bi-question-circle"></span></label>
      <input id="hardware-id" type="text" class="form-control mb-3"
             formControlName="hardwareId">
      <small
        class="warning-label"
        *ngIf="showError('hardwareId')">
        {{showError('hardwareId')}}
      </small>

    </div>

    <ul ngbNav #nav="ngbNav" [(activeId)]="active">
      <li [ngbNavItem]="1">
        <a ngbNavLink class="text-secondary">Old Card</a>
        <ng-template ngbNavContent >
          <img src="/assets/tiger-one-cards/old-card.png"
               alt="" class="w-100" style="opacity:80%">
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink class="text-secondary"> New Card</a>
        <ng-template ngbNavContent >
          <img src="/assets/tiger-one-cards/new-card.png"
               alt="" class="w-100" style="opacity:80%">
        </ng-template>
      </li>
    </ul>

    <div class="mb-3 p-4" [ngbNavOutlet]="nav"></div>

    <h6 class="font-weight-bold text-danger mb-3"
        *ngIf="visitorForm['error']">
      {{visitorForm['error']}}
    </h6>
    <button
      class="btn py-3 btn-secondary w-100 mb-2"
      type="submit">
      Register
    </button>
  </form>
</div>


