.root {
    background: rgba(95, 173, 86,1);
    border-radius: 5;
    border: 0;
    color: white;
    height: 48;
    padding: 0 15px;
    font-family: Helvetica-Neue;
        font-style: normal;
        font-weight: bold;
}

.root2 {
    background-color: rgba(248,247,247,.5);
    border-radius: 5;
    border: 0;
    color: white;
    height: 48;
    padding: 0 10%;
    font-family: Helvetica-Neue;
        font-style: normal;
        font-weight: bold;
}

.baseroot{
    border-style: solid;
    border-color: rgba(172,134,150,1);
    background-color: rgba(248,247,247,.15);
    width: 90%;
    margin: auto;
    border-radius:15px;
  }
.title {
    font-family: Helvetica-Neue;
        font-style: normal;
        font-weight: bold;
    font-size: 120%;
    color: white;
}


/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  background-color: #4CAF50;
  color: white;
  padding: 12px 12px 12px 12px;
  display: inline-block;
  float: right;
  border-radius: 10px;
  width: 150px;
  height: 18px;
}

/* Style the submit button */
saveChanges {
  background-color: #4CAF50;
  color: white;
  width: 40%;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-content: center;
}

img[type=uploadImage] {
  width: 30%;
  align-content: center;
}

/* Style the container */
.container {
  width: 80%;
  align-content: center;
  border-radius: 5px;
  background-color: rgba(248,247,247,0);
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
