.root {
    width: 85%;
    border-radius: 15px;
    align-self: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(248,247,247,.5);
  }
  .baseroot{
    border-style: solid;
    border-color: rgba(172,134,150,1);
    background-color: #1F1F1F;
    width: 90%;
    border-radius: 15px;
  }

  .title {
    font-family: "HelveticaNeue";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
  }

  .arrowIcons{
    margin: auto;
    color: white;
  }
  .icons{
    margin: auto;

  }

  .inline {
    font-family: Helvetica-Neue;
		font-style: normal;
    display: inline;
    color: white;
  }