<div class="card bg-primary w-100 h-100">
  <div class="card-body w-100 h-100">

    <!--graph header-->
    <div id="graph-header" class="d-flex justify-content-between mb-3">
      <h1 class="card-title text-light">Users</h1>
      <div class="">
        <button class="btn btn-secondary" (click)="exportUserData()">
          <h3 class="bi bi-cloud-arrow-down-fill"></h3>
        </button>
      </div>
    </div>

    <app-error [error]="error"></app-error>

    <!--chart-->
    <div class="w-100" *ngIf="!error">
      <div id="user-graph-wrapper w-100" style="max-height: 300px;"
           #wrapper >
        <ngx-charts-line-chart
          class="w-100"
          [view]="[wrapper.offsetWidth, wrapper.offsetHeight]"
          [results]="visits"
          [xAxis]="true"
          [yAxis]="true"
          [showGridLines]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [trimXAxisTicks]="false"
          [scheme]="{
          domain: ['#FF9900', '#522D80']
        }"
          style="fill: white"
          xAxisLabel="Day"
          yAxisLabel="Users"
        ></ngx-charts-line-chart>
      </div>
    </div>

    <!--slider-->
    <div class="mt-4">
      <label class="d-block text-muted" for="time-range">{{startTime * -1}} days ago.</label>
      <input id="time-range" type="range"
             class="form-control-range"
             min="-365"
             max="-7"
             [(ngModel)]="startTime"
             (ngModelChange)="onSliderChange($event)">
    </div>

  </div>
</div>
