<!--todo rename modal-->
<ng-template #taskModal>
  <app-modal></app-modal>
</ng-template>


<div id="tasks" class="card bg-primary h-100">
  <div class="card-body h-100">

    <!--Task Top Bar-->
    <div id="task-top" class="row no-gutters mb-3">
      <h1 class="card-title text-light col-12 col-md-8">Current Tasks</h1>
      <div class="text-white col-12 col-md-4">
        <div id="task-buttons" class="d-flex justify-content-between">
          <button
            id="add-task-button"
            class="btn btn-secondary"
            type="button"
            (click)="open(taskModal)"
          >
            <span class="h3 bi bi-plus-circle"></span>
          </button>
          <button
            id="clear-completed-button"
            class="btn btn-secondary ml-2"
            type="button"
            (click)="clearTasks()"
          >
            <span class="h3 bi bi-trash2-fill"></span>
          </button>
          <button class="btn btn-secondary ml-2" (click)="exportTaskData()">
            <span class="h3 bi bi-cloud-arrow-down-fill"></span>
          </button>
        </div>
      </div>
    </div>


    <!--Error Message-->
    <div class="card card-dark" *ngIf="errorMessage">
      <h3 class="text-warning">Sorry, there's been an error.</h3>
      <h6>Please <span class="a font-weight" style="text-decoration: underline">contact</span> the Makerspace team.
      </h6>
      <h6 class="text-warning">
        Details: {{errorMessage}}
      </h6>
    </div>

<!--Tasks Table-->
    <table class="w-100 table table-striped text-white table-dark table-hover"
        style="border-radius: 20px !important">
      <thead class="bg-secondary font-weight-bold text-primary">
      <tr class="card-body rounded">
        <td *ngFor="let key of keys">{{tableFields[key]}}</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks" class="bg-dark">
        <td *ngFor="let key of keys"
            [ngClass]="{'text-success': task[key] == 'Completed'}"
        >{{task[key]}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
