<div class="card bg-primary">
  <div class="card-body">

    <div class="d-flex flex-row justify-content-between mb-4">
      <h1 class="card-title text-light">Current Tasks</h1>
      <div class="text-white">
        <button id="add-task-button" class="btn btn-secondary mr-3">
          <h3 class="bi bi-plus-circle"></h3>
        </button>
        <button id="clear-completed-button" class="btn btn-secondary">
          <h3 class="bi bi-trash2-fill"></h3>
        </button>

        <!--              <h1 class="bi bi-cloud-arrow-down-fill mr-3"></h1>-->
        <!--              <h1 class="bi bi-trash2-fill mr-3"></h1>-->
      </div>
    </div>

    <div>
      <div class="rounded bg-secondary p-2">
        <div class="card-body p-2">
          <div class="row text-center">
            <h3 class="col-4 mb-0">Task</h3>
            <h3 class="col-4 mb-0">Person</h3>
            <h3 class="col-4 mb-0">Status</h3>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="rounded bg-dark p-2 text-light my-2">
        <div class="card-body p-2">
          <div class="row text-center">
            <h3 class="col-4 mb-0">Task</h3>
            <h3 class="col-4 mb-0">Person</h3>
            <h3 class="col-4 mb-0">Status</h3>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
