
<!--todo rename modal-->
<ng-template #taskModal>
  <app-modal></app-modal>
</ng-template>


<div id="tasks" class="card bg-primary h-100">
  <div class="card-body h-100">

    <!--Task Top Bar-->
    <div id="task-top" class="row no-gutters mb-3">
      <h1 class="card-title text-light col-12 col-md-8">Current Tasks</h1>
      <div class="text-white col-12 col-md-4">
        <div id="task-buttons" class="d-flex justify-content-between">
          <button
            id="add-task-button"
            class="btn btn-secondary"
            type="button"
            (click)="open(taskModal)"
          >
            <span class="h3 bi bi-plus-circle"></span>
          </button>
          <button
            id="clear-completed-button"
            class="btn btn-secondary ml-2"
            type="button"
            (click)="clearTasks()"
          >
            <span class="h3 bi bi-trash2-fill"></span>
          </button>
          <button class="btn btn-secondary ml-2" (click)="exportTaskData()">
            <span class="h3 bi bi-cloud-arrow-down-fill"></span>
          </button>
        </div>
      </div>
    </div>

    <div id="task-header" class="mb-3">
      <div class="rounded bg-secondary p-2">
        <div class="card-body p-2">
          <div class="row text-center">
            <h3 class="col-4 mb-0">Task</h3>
            <h3 class="col-4 mb-0">Person</h3>
            <h3 class="col-4 mb-0">Status</h3>
          </div>
        </div>
      </div>
    </div>

    <!--Error Message-->
    <div class="card card-dark" *ngIf="errorMessage">
      <h3 class="text-warning">Sorry, there's been an error.</h3>
      <h6>Please <span class="a font-weight" style="text-decoration: underline">contact</span> the MakerSpace team.
      </h6>
      <h6 class="text-warning">
        Details: {{errorMessage}}
      </h6>
    </div>


    <div id="task-data h-100" style="overflow-y: auto; height: 300px" *ngIf="!errorMessage">
      <div
        class="rounded bg-dark p-2 text-light my-2"
        *ngFor="let task of tasks"
      >
        <div
          class="card-body p-2"
          (mouseenter)="task.show = true"
          (mouseleave)="task.show = false"
        >
          <div class="row text-center">
            <h6 class="col-4 mb-0">{{ task.task_name }}</h6>
            <h4 class="col-4 mb-0">{{ task.assigned_to }}</h4>
            <h5
              class="col-4 mb-0 p-0"
              [ngClass]="{ 'text-success': task.state == 'Completed' }"
            >
              {{ task.state }}
            </h5>
          </div>
          <div id="task-expanded" class="pl-4 mt-3" *ngIf="task.show">
            <hr class="text-white"/>
            <h6 class="text-muted">Date created: {{task.date_created}}</h6>
            <h6 class="text-muted">Task description: {{task.description}}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
