<div class="card bg-primary w-100">
  <div class="card-body w-100">

    <!--graph header-->
    <div id="graph-header" class="d-flex justify-content-between mb-3">
      <h1 class="card-title text-light">Users</h1>
      <div class="">
        <button class="btn btn-secondary" (click)="exportUserData()">
          <h3 class="bi bi-cloud-arrow-down-fill"></h3>
        </button>
      </div>
    </div>

    <!--error message-->
    <div class="card card-dark" *ngIf="errorMessage">
      <h3 class="text-warning">Sorry, there's been an error.</h3>
      <h6>Please <span class="a font-weight" style="text-decoration: underline">contact</span> the Makerspace team.
      </h6>
      <h6 class="text-warning">
        Details: {{errorMessage}}
      </h6>
    </div>


    <!--chart-->
    <div class="w-100 h-100" #wrapper
         *ngIf="!errorMessage">
      <div id="user-graph-wrapper w-100" style="height: 300px">
        <ngx-charts-line-chart
          class="w-100"
          [view]="[wrapper.offsetWidth, 300]"
          [results]="visits"
          [xAxis]="true"
          [yAxis]="true"
          [showGridLines]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [trimXAxisTicks]="false"
          [scheme]="{
          domain: ['#FF9900', '#522D80']
        }"
          style="fill: white"
          xAxisLabel="Day"
          yAxisLabel="Users"
        ></ngx-charts-line-chart>
      </div>
    </div>

    <!--slider-->
    <div class="mt-4">
      <label class="d-block text-muted" for="time-range">{{startTime * -1}} days ago.</label>
      <input id="time-range" type="range"
             class="form-control-range"
             min="-365"
             max="-7"
             [(ngModel)]="startTime"
             (ngModelChange)="onSliderChange($event)">
    </div>

  </div>
</div>
