<div class="container bg-dark center row min-vh-100 py-6 min-vw-100">
  <div class="card bg-primary col-lg-4 col-md-8 col-12 p-6">
    <div class="card-body">
      <h1 class="card-title text-light">Login</h1>
      <div action="">
        <div class="form-group text-light"><label for="username">
          Username
        </label><input type="text" class="form-control" id="username"></div>
        <div class="form-group text-light mb-4"><label for="password">
          Password
        </label><input type="text" class="form-control" id="password"></div>
        <button class="btn py-3 btn-secondary w-100">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
