<div class="w-100">
  <h1 class="text-white font-weight-bold display-3 mb-4">Profile Settings</h1>
  <div class="card bg-primary">
    <div class="card-body">
      <div class="mb-4">
        <h1 class="card-title text-light">Manage Users</h1>
        <a class="text-secondary h2 d-block" routerLink="/users">Add or remove users</a>
      </div>

      <div class="mb-4">
        <h1 class="card-title text-light">Manage Account</h1>
        <h2 class="text-secondary">Export All Data</h2>
        <h2 class="text-secondary">Change Password</h2>
        <h2 class="text-danger">Delete Account</h2>
      </div>
    </div>
  </div>
</div>



