attrs
autopep8
aws-cdk-lib
boto3
botocore
cattrs
certifi
cffi
charset-normalizer
colorama
constructs
cryptography
docutils
idna
iniconfig
Jinja2
jmespath
jsii
MarkupSafe
moto
packaging
pluggy
publication
py
pyasn1
pycodestyle
pycparser
pyparsing
pytest
python-dateutil
pytz
PyYAML
requests
responses
rsa
s3transfer
six
toml
tomli
typing-extensions
urllib3
Werkzeug
xmltodict