aws-cdk.aws-cognito==1.75.0
aws-cdk.aws-iot==1.75.0
aws-cdk.aws-apigateway==1.75.0
aws-cdk.aws-cognito==1.75.0
aws-cdk.aws-dynamodb==1.75.0
aws-cdk.aws-events==1.75.0
aws-cdk.aws-events-targets==1.75.0
aws-cdk.aws-iam==1.75.0
aws-cdk.aws-lambda==1.75.0
aws-cdk.aws-s3==1.75.0
aws-cdk.aws-s3-deployment==1.75.0
aws-cdk.aws-ses==1.75.0
aws-cdk.core==1.75.0
awscli==1.18.179
boto3==1.16.7
botocore==1.19.19
cryptography
-e .
