
<div class="center row h-100 w-100 no-gutters">
  <div class="card bg-primary col-xl-6 col-lg-8 col-12">
    <div class="card-body text-light">
      <h1 class="card-title">Reset Password</h1>
      <p class="card-text">Use this form to reset your password.</p>
      <form
        [formGroup]="resetForm"
        (ngSubmit)="onSubmit()">
        <div class="form-group" >
          <label for="email">Email</label>
          <input id="email"
                 type="email"
                 class="form-control"
                 formControlName="email">
          <small
            class="warning-label"
            *ngIf="showError('email')"
          >
            {{showError('email')}}
          </small></div>

        <h6 class="warning-label" *ngIf="resetForm['error']">
          {{resetForm['error']}}
        </h6>
        <h6 class="text-muted" *ngIf="resetForm['success']">
          Check your email to reset your password.
        </h6>

        <button
          type="submit"
          class="btn btn-secondary w-100 py-3">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>
