@use "styles/cards";
@use "styles/experimental";
@use "styles/fonts";
@use "styles/animations";
@use "styles/utils";

// no outlines
* {
  outline: none;
}

// root font size
html {
  font-size: 18px;
}

// small is extra small
.small {
  font-size: 0.5rem !important;
}


// for overlays
.frozen {
  position: fixed;
  overflow: hidden;
}


.fill-primary {
  fill: #FF9900;
}

.stroke-primary {
  stroke: #FF9900;
}
