<div class="card-body" *ngIf="state == 'register'">
  <h1 class="card-title text-light">Register</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group text-light col-6">
        <label for="firstName">First Name</label>
        <input id="firstName" type="text" name="firstName" class="form-control" formControlName="firstName" required>
        <small
          class="warning-label"
          *ngIf="showError('firstName')">
          {{showError('firstName')}}
        </small>
      </div>
      <div class="form-group text-light col-6">
        <label for="lastName">Last Name</label>
        <input id="lastName" type="text" name="lastName" class="form-control" formControlName="lastName" required>
        <small
          class="warning-label"
          *ngIf="showError('lastName')">
          {{showError('lastName')}}
        </small>
      </div>
    </div>

    <div class="form-group text-light">
      <label for="new-email"> Email </label>
      <input
        type="text"
        class="form-control"
        id="new-email"
        formControlName="email"
        required
      />
      <small
        class="warning-label"
        *ngIf="showError('email')">
        {{showError('email')}}
      </small>
    </div>

    <div class="form-group text-light mb-3">
      <label for="new-password"> Password</label>
      <input
        type="password"
        class="form-control"
        id="new-password"
        formControlName="password"
        required
        #password
      />
      <small
        class="warning-label"
        *ngIf="showError('password')"
      >
        {{showError('password')}}
      </small>
    </div>

    <div class="form-group text-light mb-4">
      <label for="confirm-password"> Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirm-password"
        formControlName="confirmPassword"
        required
      />
      <small
        class="warning-label"
        *ngIf="showError('confirmPassword', 'confirmPassword')">
        {{showError('confirmPassword', 'confirmPassword')}}
      </small>
    </div>

    <div [ngClass]="{'d-none': !isUser}"
         class="form-group text-light mb-4">
      <label for="user-token" class="font-weight-bold"
             ngbTooltip="Your administrator should be able
        to create a token for you from their profile page." >Token
        <span class="pl-2 bi bi-question-circle"></span>
      </label>
      <input
        type="text"
        class="form-control border-secondary border"
        id="user-token"
        formControlName="userToken"

      />
      <small
        class="warning-label"
        *ngIf="showError('userToken','token')">
        {{showError('userToken','token')}}
      </small>
    </div>

    <div class="form-check text-light mb-3">
      <input id="is-user-or-visitor" type="checkbox" class="form-check-input"
             formControlName="isUser">
      <label for="is-user-or-visitor" class="form-check-label">I work at the Makerspace.</label>
    </div>
    <h6 class="font-weight-bold text-danger mb-3" *ngIf="registerForm['error']">
      {{registerForm['error']}}
    </h6>
    <button
      class="btn py-3 btn-secondary w-100 mb-2"
      type="submit"
    >
      Register
    </button>
    <a class="text-muted mt-3 d-block"
       (click)="router.navigate(['../login'])"
    >Have an account?</a
    >
  </form>
</div>


<!--Visitor-->
<app-visitor *ngIf="state == 'visitor'"></app-visitor>

<!--Success-->
<div class="card-body" *ngIf="state == 'success'">
  <h1 class="card-title text-light">Gear up!</h1>
  <h3 class="card-title text-secondary">Next steps:</h3>
  <ol class="text-light" *ngIf="!isUser">
    <li>Check <b>{{this.registerForm.get("email").value}}</b> for an account confirmation email.</li>
    <li>When you arrive at the Makerspace, make sure to scan your card.</li>
    <li>Play safe! If you run into any problems in the space, reach out to a staff member.</li>
  </ol>
  <ol class="text-light" *ngIf="isUser">
    <li>Check <b>{{this.registerForm.get("email").value}}</b> for an account confirmation email.</li>
    <li>Login to your dashboard <a routerLink="/login" class="text-secondary">here</a>.</li>
  </ol>

<!--  <div class="card-footer">-->
<!--    <h6 class="font-weight-bold text-secondary" style="opacity: 80%">How was your registration experience?</h6>-->
<!--    <ul class="text-white list-unstyled">-->
<!--      <li class="float-left bi-emoji-smile-fill mr-3"></li>-->
<!--      <li class="float-left bi-emoji-frown-fill mr-3"></li>-->
<!--    </ul>-->
<!--  </div>-->

</div>
