<div class="card card-dark">
  <div class="card-body">
    <h3 class="text-warning mb-3">Sorry, something got caught in the gears.</h3>
    <h6 class="mb-3">Try checking your internet connection and logging in again. If this issue persists,
      please contact the Makerspace team.</h6>
    <h6 class="badge badge-warning text-dark font-weight-bold mb-3" (click)="showDetails = !showDetails" >Show Details</h6>
    <div id="details" class="text-muted" *ngIf="showDetails">
      <h6>{{error.name}}</h6>
      <p >{{error.message}}</p>
    </div>
  </div>
</div>
