<div class="w-100">

  <!--Welcome Message-->
  <h1 id="welcome-text" *ngIf="auth.isUserLoggedIn()"
      class="text-white font-weight-bold display-3 mb-4">
    Welcome back,
    <span class="text-secondary">
      {{ auth.user.getValue().first_name }}
    </span>.
  </h1>


  <div *ngIf="auth.isUserLoggedIn()">
    <div id="top-row" class="row no-gutters d-flex align-content-stretch">
      <!--Tasks-->
      <div class="card-wrapper col-lg col-12">
        <app-tasks></app-tasks>
      </div>
      <!--Machines-->
      <div class="card-wrapper col-lg col-12">
        <app-machines></app-machines>
      </div>
    </div>

    <!--Users-->
    <div class="card-wrapper col-12">
      <app-user-graph></app-user-graph>
    </div>
  </div>


</div>
