<app-modal *ngIf="modal.modalStatus.getValue().open == true"></app-modal>

<div class="w-100">

  <h1 id="welcome-text" *ngIf="auth.isUserLoggedIn()"
      class="text-white font-weight-bold display-3 mb-4">
    Welcome back,
    <span class="text-secondary">
      {{ auth.user.getValue().first_name }}
    </span>
  </h1>


<!--  todo use authguard?-->
<div #content *ngIf="auth.isUserLoggedIn()">
  <!--Users-->
  <div id="tasks-card" class="row d-flex align-content-stretch">
    <div class="card-wrapper col-xl-7 col-12">
      <app-tasks></app-tasks>
    </div>
    <div class="card-wrapper col-xl-5 col-12">
      <app-user-graph></app-user-graph>
    </div>
  </div>

  <!--Machines-->
  <div id="machines-card" class="row">
    <div class="card-wrapper col-12">
      <app-machines></app-machines>
    </div>
  </div>
</div>


</div>
