<div class="w-100">

  <!--Welcome Message-->
  <div class="card card-dark bg-primary">
    <div class="card-body">
      <h1 id="welcome-text" *ngIf="auth.isUserLoggedIn()"
          class="text-white font-weight-bold display-3 mb-4">
        Welcome back,
        <span class="text-secondary">{{auth.user.getValue().first_name}}</span>.
      </h1>
    </div>
  </div>


  <div *ngIf="auth.isUserLoggedIn()">
    <div id="top-row" class="row no-gutters d-flex align-content-stretch">
      <!--Tasks-->
      <div class="card-wrapper col-lg-8 col-12">
        <app-tasks></app-tasks>
      </div>

      <!-- Users / Maintainers -->
      <div class="card-wrapper col-lg-4 col-12 d-md-block d-sm-none">
        <app-users></app-users>
      </div>
    </div>


    <!--  Visitors -->
    <app-visitors></app-visitors>


    <!--Machines-->
    <div class="card-wrapper col-12">
      <app-machines></app-machines>
    </div>
  </div>


</div>
