@import "./brand.scss";

html {
  height: 100%;
}

body {
  font-family: monospace;
}

.btn-pastel-purple {
  background-color: #b19cd9;
  color: white;
  border: none;
}

.btn-pastel-orange {
  background-color: rgb(238, 174, 114);
  color: white;
  border: none;
}
