<div class="card bg-primary h-100">
  <div class="card-body h-100">
    <h3 class="font-weight-bold text-secondary">Maintainers</h3>
    <table class="table table-striped table-dark">
      <tr *ngFor="let user of users.slice(pageSize*(page - 1),pageSize*page)" class="bg-dark">
        <td>
          <div class="text-light">
            {{user.name}}
          </div>
        </td>
      </tr>
    </table>
    <div class="paging-buttons">
      <button class="btn btn-primary border-secondary btn-sm mr-3 mb-3"
              type="button"
              [disabled]="page == 1"
              (click)="page = page - 1">Previous Page</button>
      <button class="btn btn-primary border-secondary btn-sm"
              type="button"
              [disabled] = "page >= users.length/pageSize"
              (click)="page = page + 1">Next Page</button>

    </div>

  </div>
</div>
